.tagIndicator{

    color:#4B5663;
    background-color: #E6E6E6;
    border-radius: 2vh;
    height: 4vh;
    width: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1vw;
    margin-bottom: 0.5vh ;
    @media (max-width: 1200px) {
        
        width: 15vw;
        border-radius: 2.6vw;
        p{
            font-size: 0.45rem;
        }
    }
}