.tagIndicator{

    color:#4B5663;
    background-color: #E6E6E6;
    border-radius: 2vh;
    height: 4vh;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1vw;
}