.loginScreen {
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    background-color:#EEEEEE;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-logo {
        height: 100vh;
        width:65vw;
    }

    .logInPanel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        height: 70vh;
        width: 30vw;
        border-radius: 2vh;
        background-color: #fafafa;
        align-items: center;
        
        .Komorebi {
            display: flex;
            flex-direction: row;      
            justify-content: flex-start;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            margin-top: 5vh;
            
            h1 {
                font-size: '2rem';
                color: #262626;
            }

            img {
                height:6.5vh; 
                width: 6.5vw;
            }
        }

        .credentials {
            margin-top: 7.5vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10vh;
        
            &-textfield {
                margin-bottom: 3.5vh;  
                width: 18.5vw; 
                font-size: 2rem;
            }

            &-button {
                background-color: #ff9900;
                color: #FFFFFF;
                width: 8.5vw;
                height: 5.25vh;
                justify-content: center;
                border-radius: 2vw;
                box-shadow: 0 0.45vh 0 0 rgba(0, 0, 0, 0.05);
                font-weight: 700;
                font-size: 1.25rem;
                margin: 5vh auto auto auto;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-transform: none;
            }
        }
    }
}